<main>
  <section class="starship">
    <article class="starship-header">
      <div class="label">
        <h1>Millennium Falcon</h1>
      </div>
      <div class="index">
        <h2>10</h2>
        <h3>/36</h3>
      </div>
    </article>
    <article class="starship-image">
      <img src="assets/starships/5.png" alt="Millennium Falcon">
    </article>
  </section>

  <section class="starship-footer">
    <article class="info">
      <div>
        <div class="text-title">Millennium Falcon</div>
        <div class="text-subtitle">YT-1300 light freighter</div>
        <div class="text-bold">Light freighter</div>
        <div class="text-small">Corellian Engineering Corporation</div>
      </div>
    </article>
    <article class="button">
      <button class="btn btn-outline" (click)="onToggleModal()">
        More info
      </button>
    </article>
  </section>
</main>