<main>
  <section class="starship">
    <article class="starship-header">
      <div class="label">
        <h1>{{ starship.name }}</h1>
      </div>
      <div class="index">
        <h2>{{ (starship.id || 1) | toString }}</h2>
        <h3>/{{ totalStarships | toString }}</h3>
      </div>
    </article>
    <article class="starship-image">
      <img [src]="starship.image" [alt]="starship.name">
    </article>
  </section>

  <section class="starship-footer">
    <article class="info">
      <div>
        <div class="text-title">{{starship.name}}</div>
        <div class="text-subtitle">{{ starship.model }}</div>
        <div class="text-bold">{{ starship.starshipClass }}</div>
        <div class="text-small">{{ starship.manufacturer }}</div>
      </div>
    </article>
    <article class="button">
      <button class="btn btn-outline" (click)="onToggleModal()">
        More info
      </button>
    </article>
  </section>
</main>