@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://use.typekit.net/zno5mzi.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

h1 {
  font-family: $font-family;
  font-weight: 800;
  font-size:  3em;
}

h2 {
  font-family: $font-family;
  font-weight: 700;
  font-size:  2.5em;
}

h3 {
  font-family: $font-family;
  font-weight: 600;
  font-size:  2em;
}

.text-title {
  font-size: 1.3em;
  font-weight: bold;
}

.text-subtitle {
  font-size: 1.2em;
  font-weight: bold;
}

.text-bold {
  font-size: 1em;
  font-weight: bold;
}

.text-small {
  font-size: 0.8em;
}

@include md {
  h1 { font-size: 5em; }
  h2 { font-size: 3em; }
  h3 { font-size: 2.5; }
  .text-title { font-size: 1.6em; }
  .text-subtitle { font-size: 1.4em; }
  .text-bold { font-size: 1.2em; }
  .text-small { font-size: 1em; }
}

@include lg {
  h1 { font-size: 7em; }
  h2 { font-size: 5em; }
  h3 { font-size: 2.75em; }
  .text-title { font-size: 1.8em; }
  .text-subtitle { font-size: 1.6em; }
  .text-bold { font-size: 1.4em; }
}