<div class="modal" *ngIf="show">
  <div class="frame-corner"></div>
  <div></div>
  <div class="frame-corner"></div>
  <div></div>
  <div class="frame-content" [ngClass]="{'open-frame': show}">
    <div class="cursor" *ngIf="showCursor"></div>
    <section class="content" *ngIf="showContent">
      <header>
        <h3>{{ content.label }}</h3>
      </header>
      
      <main>
        <div class="label title">Overview</div>
        <div class="body">
          
          <div class="image" *ngIf="content.image">
            <img [src]="content.image" [alt]="content.label">
          </div>

          <div class="info" [ngClass]="{'no-image': !content.image}">
            <div 
              class="info-card"
              *ngFor="let detail of content.details">
              <div class="text-bold">{{ detail.label }}</div>
              <div>{{ detail.value }}</div>
            </div>
          </div>

        </div>
        
        <div class="footer">
          <button class="btn btn-outline btn-reverse" (click)="onToggleModal()">
            Close
          </button>
        </div>
      </main>
    </section>
  </div>
  <div></div>
  <div class="frame-corner"></div>
  <div></div>
  <div class="frame-corner"></div>
</div>