<section class="wrapper">
  <header>Logo</header>
  <main>
    
    <section class="starship">
      <article class="starship-header">
        <div class="label">
          Starship Title
        </div>
        <div class="index">
          Index
        </div>
      </article>
      <article class="starship-image">
        Image
      </article>
    </section>
    
    <section class="starship-footer">
      <article class="info">
        Info
      </article>
      <article class="button">
        Button
      </article>
    </section>
  </main>
  
  <footer>
    <section class="pilots">
      <article class="label">
        Pilots
      </article>
      <article class="cards">
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot 10</div>
      </article>
    </section>
  </footer>
</section>