<section class="wrapper">
  
  <shared-header />
  <shared-starship />
  
  <footer>
    <section class="pilots">
      <article class="label">
        Pilots
      </article>
      <article class="cards">
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot X</div>
        <div class="pilot-card">Pilot 10</div>
      </article>
    </section>
  </footer>
</section>