@import 'variables';
@import 'mixins';
@import 'media-queries';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100svh;

  shared-starship {
    padding: 40px 20px 0 20px;
    @include md { flex-grow: 1; }

    @include md { padding-top: 60px; }
    @include lg { padding-top: 80px; }
  }
}