@import 'variables';

.sidebar{
  position: fixed;
  top: 0;
  width: 300px;
  height: 100svh;
  z-index: 9999;
  padding: 50px 0;
  background-color: $color_primary;
  color: $color_tertiary;
  transition: all 0.3s ease;

  &.swipe-out {
      left: -300px;
  }

  &.swipe-in {
      left: 0px;
  }

  header {
    display: flex;
    justify-content: end;
    padding: 10px 20px;
  }

  main {
    overflow-y: auto;
    height: calc(100svh - 100px);

    article {
      display: flex;
      align-items: center;
      padding-left: 40px;
      height: 40px;
      color: $color_tertiary;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      
      &:hover {
        color: $color_secondary;
      }
      
      &.active {
        cursor: default;
        border-left: $color_secondary 3px solid;
        color: $color_secondary;
      }
    }
  }
}