<section class="wrapper">
  <shared-header (toggleSidebar)="toggleSidebar()"/>
  
  <shared-starship 
    [starship]="starship" 
    [totalStarships] = "totalStarships"
    (toggleModal)="toggleModal($event)" />
  
  <shared-footer 
    [pilots]="starship.pilots"
    (toggleModal)="toggleModal($event)"/>
  
  <shared-sidebar 
    [show]="showSidebar"
    [starships]="starships"
    (toggleSidebar)="toggleSidebar()"/>
  
  <shared-modal 
    [show]="showModal"
    [content] = "modalContent"
    (toggleModal)="toggleModal()"/>
</section>

<div class="overlay" 
    [ngClass]="{'fade-out': !showOverlay, 'fade-in': showOverlay}"></div>