@import 'variables';
@import 'media-queries';
@import 'fonts';
@import 'buttons';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  cursor: default;
  background-color: $color_bg;
  color: $color_primary;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-size: 1em;
  background-image: url(../src/assets/bg.svg);
  background-repeat: no-repeat;
  background-position:center bottom;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: 5px;
  scrollbar-color: $color_primary $color_secondary;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
  width: 7px;
  }
  
  *::-webkit-scrollbar-track {
  background: $color_secondary;
  }
  
  *::-webkit-scrollbar-thumb {
  background-color: $color_primary;
  border-radius: 5px;
  border: 2px solid $color_secondary;
  }