<footer>
  <section class="label text-small">
    Pilots
  </section>
  <section class="pilots">
    <article class="pilot-card">
      <div class="card">
        <div class="pilot-image">
          <img src="assets/characters/13.png" alt="Chewbacca">
        </div>
        <div class="pilot-name text-bold">Chewbacca</div>
      </div>
    </article>
    <article class="pilot-card" (click)="onToggleModal()">
      <div class="card">
        <div class="pilot-image">
          <img src="assets/characters/14.png" alt="Han Solo">
        </div>
        <div class="pilot-name text-bold">Han Solo</div>
      </div>
    </article>
    <article class="pilot-card">
      <div class="card">
        <div class="pilot-image">
          <img src="assets/characters/24.png" alt="Lando Carlissan">
        </div>
        <div class="pilot-name text-bold">Lando Carlissan</div>
      </div>
    </article>
    <article class="pilot-card">
      <div class="card">
        <div class="pilot-image">
          <img src="assets/characters/30.png" alt="Nien Numb">
        </div>
        <div class="pilot-name text-bold">Nien Numb</div>
      </div>
    </article>
  </section>
</footer>